.aboutcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.abouticon{
    width: 400px;
}
.aboutgroup{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.abouttext{
    margin-left: 50px;
    max-width: 300px;
}
.aboutgroup-title{
    font-size: 40px;
}
.abouttitle{
    display: none;
}
.aboutgroup-container{
    border-top: 3px solid black;
}
@media (max-width:858px) {
   .abouttitle{
       display: flex;
   }
   .abouttext{
       margin: 0;
   }
   .aboutgroup{
       margin-top: 0;
       flex-direction: column;
   }
   .aboutgroup-title{
       display: none;
   }
}
